{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Créer un compte</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password.first) }}
        {{ form_row(registrationForm.password.second) }}
        
        <button class="btn btn-lg btn-primary" type="submit">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
